.container {
  margin: 40px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h3 {
    font-size: 28px;
}

.section-title {
    font-size: 20px;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(6, 155px); 
  gap: 30px; 

  justify-content: center; 
  
  width: 100%;
  max-width: 1200px;
}

.anime-card {
  width: 155px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-image-wrapper {
  width: 155px; 
  height: 234px; 
  overflow: hidden;
  background-color: #1a1a1a;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.anime-name {
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
  width: 155px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}